<template>
  <div
    class="pa-10"
    style="border-style: dashed; border-color: #eaeaea; border-width: 1px"
  >
    <div
      @dragover="dragover"
      @dragleave="dragleave"
      @drop="drop"
      class="text-center"
    >
      <v-file-input
        :id="'fileUpload' + fileAccept"
        :accept="fileAccept"
        placeholder="Pilih File"
        outlined
        dense
        @change="onPickFile"
        style="display: none"
      ></v-file-input>
      <span
        class="blue--text text--darken-1"
        style="cursor: pointer"
        @click="chooseFile"
        >Upload</span
      ><span> or drag and drop here</span>
      <h4 v-if="file" class="text-center">
        {{ file.name }}
      </h4>
      <h4 class="text-center red--text">
        {{ message }}
      </h4>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    fileAccept: {
      default: 'image/png, image/jpeg',
      type: String,
    },
  },
  data: () => ({
    file: null,
    message: '',
  }),

  methods: {
    dragover(event) {
      event.preventDefault()
    },
    dragleave(event) {
      console.info('leave', event)
    },
    drop(event) {
      event.preventDefault()
      const accept = this.fileAccept.split(', ')
      if (accept.includes(event.dataTransfer.files[0].type)) {
        this.file = event.dataTransfer.files[0]
        this.message = ''
        this.$emit('setValue', this.file)
      } else {
        this.message = 'please select file' + this.fileAccept
      }
    },

    chooseFile() {
      document.getElementById('fileUpload' + this.fileAccept).click()
    },

    onPickFile(event) {
      this.file = event
      this.message = ''
      this.$emit('setValue', this.file)
    },
  },
}
</script>
