<template>
  <div>
    <div class="elevation-6">
      <v-lazy
        :options="{
          threshold: 0.5,
        }"
        min-height="200"
        transition="fade-transition"
      >
        <v-container>
          <div data-aos="fade-up" data-aos-duration="1000">
            <span @click="$router.go(-1)" style="cursor: pointer"
              ><v-icon aria-hidden="false" color="blue darken--4">
                mdi-arrow-left
              </v-icon>
            </span>
            <div class="text-center">
              <span class="jumbotron blue--text text--darken-1">
                {{ jobDetails.job_name }}
              </span>
              <br />
              <span>Lokasi:{{ jobDetails.lokasi }}</span>
            </div>
          </div>
        </v-container>
      </v-lazy>
      <v-tabs v-model="tab" centered>
        <v-tab href="#tab-1">Overview</v-tab>
        <v-tab href="#tab-2">Application</v-tab>
      </v-tabs>
    </div>
    <div class="container">
      <v-tabs-items v-model="tab">
        <v-tab-item value="tab-1">
          <v-row>
            <v-col cols="12" md="6">
              <span>Persyaratan</span>
              <p
                class="mt-3"
                v-html="formatText(jobDetails.additional_terms)"
              ></p>
            </v-col>
            <v-col cols="12" md="6">
              <span>Benefit</span>
              <p class="mt-3" v-html="formatText(jobDetails.benefit)"></p>
            </v-col>
            <v-col cols="12" md="6">
              <span>Job Deskripsi</span>
              <p class="mt-3" v-html="formatText(jobDetails.job_desc)"></p>
            </v-col>
          </v-row>
        </v-tab-item>
        <v-tab-item value="tab-2">
          <div data-aos="fade-up" data-aos-duration="1000">
            <div :class="screenWidth >= 1280 ? 'px-15' : 'px-3'">
              <v-form ref="form" v-model="valid" lazy-validation>
                <v-row>
                  <v-col cols="12">
                    <label class="red--text">*</label>
                    <label>Photo</label>
                    <DragDrop
                      :style="
                        errorForm.photo
                          ? 'border-color: red'
                          : 'border-color: #eaeaea'
                      "
                      @setValue="setPhoto"
                    />
                    <small class="red--text" v-if="errorForm.photo"
                      >Photo is required</small
                    >
                  </v-col>
                  <v-col cols="12">
                    <label class="red--text">*</label>

                    <label
                      >Cv, Ijazah, Transkrip, Portofolio(dalam 1 pdf)</label
                    >
                    <DragDrop
                      :style="
                        errorForm.cv
                          ? 'border-color: red'
                          : 'border-color: #eaeaea'
                      "
                      @setValue="setCv"
                      :fileAccept="'application/pdf'"
                    />
                    <small class="red--text" v-if="errorForm.cv"
                      >Cv is required</small
                    >
                  </v-col>
                  <v-col cols="12">
                    <label class="red--text">*</label>
                    <label>Nama Lengkap</label>
                    <v-text-field
                      v-model="name"
                      :rules="nameRules"
                      placeholder="Jhon Doe"
                      required
                      outlined
                      dense
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <label class="red--text">*</label>
                    <label>Usia</label>
                    <v-text-field
                      v-model="age"
                      :rules="ageRules"
                      :maxlength="2"
                      placeholder="25"
                      required
                      outlined
                      dense
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <label class="red--text">*</label>
                    <label>Nomor Whatsapp</label>
                    <v-text-field
                      v-model="whatsapp"
                      :maxlength="13"
                      :rules="whatsappRules"
                      placeholder="08xxxxxxxxx"
                      required
                      outlined
                      dense
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <label class="red--text">*</label>
                    <label>Pekerjaan Terakhir</label>
                    <v-text-field
                      v-model="lastJobs"
                      :rules="lastJobsRules"
                      placeholder="Manager/Staff/Developer"
                      required
                      outlined
                      dense
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <label class="red--text">*</label>
                    <label>Gaji Terakhir</label>
                    <v-text-field
                      v-model="lastSallary"
                      :rules="lastSallaryRules"
                      prefix="Rp"
                      placeholder="xxxxxxx"
                      required
                      outlined
                      dense
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <label class="red--text">*</label>
                    <label>Promosikan diri anda</label>
                    <v-textarea
                      v-model="notes"
                      :rules="notesRules"
                      placeholder="Hai, i am jhon doe,  i am a ...."
                      required
                      outlined
                      dense
                    ></v-textarea>
                  </v-col>
                  <v-col class="text-right">
                    <v-btn
                      :disabled="!valid"
                      color="teal lighten-3"
                      outlined
                      depressed
                      class="mr-4"
                      @click="validate"
                    >
                      Submit
                    </v-btn>
                  </v-col>
                </v-row>
              </v-form>
            </div>
          </div>
        </v-tab-item>
      </v-tabs-items>
    </div>
  </div>
</template>

<script>
const DragDrop = () => import('../../components/DragDropFile.vue')

export default {
  components: { DragDrop },
  head() {
    return {
      title: 'Career',
      meta: [
        {
          hid: 'Career',
          name: 'Career',
          content: 'Emtrade Career',
        },
      ],
    }
  },

  data: () => ({
    screenWidth: 0,
    tab: null,
    valid: false,
    name: '',
    nameRules: [(v) => !!v || 'Name is required'],
    age: '',
    ageRules: [
      (v) => !!v || 'Age is required',
      (v) => (v && v.length <= 2) || 'Age must be less than 2 characters',
    ],
    whatsapp: '',
    whatsappRules: [
      (v) => !!v || 'Whatsapp number is required',
      (v) => /^[0-9]{9,13}$/.test(v) || 'whatsapp number , (9-13 character)',
    ],
    lastJobs: '',
    lastJobsRules: [
      (v) => !!v || 'Last Job is required',
      (v) => !!v || 'Job is required',
    ],
    lastSallary: '',
    lastSallaryRules: [
      (v) => !!v || 'Last sallary is required',
      (v) => /\d/.test(v) || 'Format angka salah',
    ],
    notes: '',
    notesRules: [
      (v) => !!v || 'Notes is required',
      (v) => (v && v.length >= 10) || 'Notes must be more than 10 characters',
    ],

    cv: null,
    cvRules: [
      (v) => !!v || 'File is required',

      (v) => !v || v.size < 2000000 || 'Avatar size should be less than 2 MB!',
    ],
    photo: null,
    photoRules: [
      (v) => !!v || 'Foto is required',

      (v) => !v || v.size < 2000000 || 'Avatar size should be less than 2 MB!',
    ],
    select: null,
    checkbox: false,

    errorForm: {},
  }),

  computed: {
    jobDetails() {
      return this.$store.getters['jobs/getjobdetails']
    },
  },

  watch: {
    $vssWidth() {
      this.screenWidth = this.$vssWidth
    },
  },

  mounted() {
    this.screenWidth = this.$vssWidth

    this.setInitData()
  },

  methods: {
    setInitData() {
      this.fetchJobDetail()
    },

    async fetchJobDetail() {
      const data = {
        params: {
          id: this.$route.params.id,
        },
      }
      await this.$store.dispatch('jobs/fetchjobdetails', data)
    },

    formatText(text) {
      let res = ''
      if (text) {
        res = text.replace(/\n/g, '<br><li>')
      }

      return '<ul><li>' + res + '</ul>'
    },

    validate() {
      this.$refs.form.validate()
      this.submit()
    },
    reset() {
      this.$refs.form.reset()
    },
    resetValidation() {
      this.$refs.form.resetValidation()
    },

    async submit() {
      const data = {
        body: {
          job_name: this.jobDetails.job_name,
          job_code: this.jobDetails.job_code,
          job_id: this.jobDetails.id,
          applicant_name: this.name,
          age: this.age,
          whatsapp: this.whatsapp,
          last_job: this.lastJobs,
          last_sallary: this.lastSallary,
          photo: this.photo,
          cv: this.cv,
          notes: this.notes,
          ktp: 0,
          // npwp: 0,
        },
      }

      const res = await this.$store.dispatch('jobs/postjob', data)
      if (res.response.status > 400) {
        this.errorForm = res.response.data
      } else {
        this.errorForm = {}
      }

      // this.reset()
      // this.resetValidation()
    },

    setPhoto(payload) {
      this.photo = payload
    },

    setCv(payload) {
      this.cv = payload
    },
  },
}
</script>

<style lang="scss" scoped>
.job-box {
  width: 230px;
  font-size: 14px;

  a {
    color: $color-font;
  }
}
</style>
