<template>
  <div>
    <div>
      <v-lazy
        :options="{
          threshold: 0.5,
        }"
        min-height="200"
        transition="fade-transition"
      >
        <div data-aos="fade-up" data-aos-duration="1000">
          <v-parallax
            class="mt-3"
            height="700"
            :src="require('~/assets/images/team.jpg')"
          >
            <v-container>
              <div
                class="paralax-text"
                data-aos="zoom-in-up"
                data-aos-duration="1000"
              >
                <div class="paralax-title">Be the part of our Super Team!</div>
                <div class="paralax-title-2 mt-10 teal--text text--lighten-2">
                  We Create Super Trader & We Change Lives Better!<br />
                  <!-- We Work Hard, We Play hard! -->
                </div>
              </div>
            </v-container>
          </v-parallax>
        </div>
      </v-lazy>
    </div>
    <div>
      <v-lazy
        :options="{
          threshold: 0.5,
        }"
        min-height="200"
        transition="fade-transition"
      >
        <v-container>
          <div data-aos="fade-up" data-aos-duration="1500">
            Emtrade is a startup company developing an edufintech platform,
            using the robo-advisory with AI & machine learning based to pursue
            our mission on helping people to learn, trade & invest in the stock
            market more profitable and easier. The boom of retail investor in
            Indonesia brings us the opportunity to solve their problem of
            confusion, the risk of “pompom” (pump and dump) information and the
            hassle of learning, to get reliable information for decision making
            as well as answering their question faster.
          </div>
        </v-container>
      </v-lazy>
    </div>
    <div>
      <v-lazy
        :options="{
          threshold: 0.5,
        }"
        min-height="200"
        transition="fade-transition"
      >
        <v-container>
          <div
            data-aos="fade-up"
            data-aos-duration="1500"
            class="text-center jumbotron blue--text text--darken-1"
          >
            Our Value
          </div>
          <hr />
          <div class="mt-10">
            <v-row>
              <v-col cols="12" md="8">
                <div data-aos="fade-right" data-aos-duration="1000">
                  We believe that people are the most important element in a
                  company to pursue the goal. Having a good team and the right
                  environment will get us closer to our dream by
                </div>
                <br />
                <ul>
                  <li data-aos="fade-right" data-aos-duration="1000">
                    Having a day 1 spirit.
                  </li>
                  <li data-aos="fade-right" data-aos-duration="1100">
                    Getting better day by day, with continuous and neverending
                    improvement (CANI).
                  </li>
                  <li data-aos="fade-right" data-aos-duration="1200">
                    Helping each other culture.
                  </li>
                  <li data-aos="fade-right" data-aos-duration="1300">
                    Driven by customer needs.
                  </li>
                </ul>
                <br />
                <div data-aos="fade-right" data-aos-duration="1000">
                  If you are the one who want to grow & be fruitful, we would
                  like to welcome you joining our team, hand in hand we create
                  impact for the society. Together we change lives & the way
                  people invest for the better
                </div>
              </v-col>
              <v-col cols="12" md="4">
                <div
                  data-aos="zoom-in-left"
                  data-aos-duration="1000"
                  data-aos-anchor-placement="top-bottom"
                >
                  <div
                    class="mockup"
                    :style="screenWidth < 768 ? 'opacity:0.6' : ''"
                  >
                    <v-img
                      :lazy-src="require('~/assets/images/emtrade-value.png')"
                      :src="require('~/assets/images/emtrade-value.png')"
                    />
                  </div>
                </div>
              </v-col>
            </v-row>
          </div>
        </v-container>
      </v-lazy>
    </div>
    <div>
      <v-lazy
        :options="{
          threshold: 0.5,
        }"
        min-height="200"
        transition="fade-transition"
      >
        <v-container>
          <div
            data-aos="fade-up"
            data-aos-duration="1500"
            class="text-center jumbotron blue--text text--darken-1"
          >
            Why joining our team?
          </div>
          <hr />
          <div class="mt-10">
            <div
              data-aos="fade-right"
              data-aos-duration="1000"
              class="blue--text subtitle-1"
            >
              Moved by the Power of Purpose & Being the Part of a Cause
            </div>
            <br />
            <div data-aos="fade-right" data-aos-duration="1000">
              Our leadership believes in the power of purpose about finding
              meaning in work. As you contribute your time, talent, and ideas,
              you’ll see the impact & the cause that you make at Emtrade & the
              society.
            </div>
            <br />
            <div
              data-aos="fade-right"
              data-aos-duration="1000"
              class="blue--text subtitle-1"
            >
              Supportive & Pleasant Working Environment
            </div>
            <br />
            <div data-aos="fade-right" data-aos-duration="1000">
              Work with extremely smart, equally nice, and collaborative people,
              as well as a group of down-to-earth leaders who get stuff done.
              Our team are hard-working, creative, fun and help each other! We
              always build a supportive work environment to improve the quality
              of work and all problems can be solved together.
            </div>
            <br />
            <div
              data-aos="fade-right"
              data-aos-duration="1000"
              class="blue--text subtitle-1"
            >
              Career Growth and Defined Career Paths
            </div>
            <br />
            <div data-aos="fade-right" data-aos-duration="1000">
              We provide our team with an ongoing mechanism to enhance their
              skills and knowledge that can lead to mastery of their current
              jobs, promotions and transfers to new or different positions. Work
              on challenging and interesting problems, and strive to do the
              right thing, the right way and continuous improvement
            </div>
          </div>
        </v-container>
      </v-lazy>
    </div>
    <div>
      <v-lazy
        :options="{
          threshold: 0.5,
        }"
        min-height="200"
        transition="fade-transition"
      >
        <v-container>
          <div
            class="jumbotron blue--text text--darken-1"
            data-aos="fade-up"
            data-aos-duration="1500"
          >
            Open Positions
          </div>
          <div data-aos="fade-up" data-aos-duration="1500">
            <v-row>
              <v-text-field
                class="col-12 px-2"
                v-model="search"
                prepend-inner-icon="mdi-magnify"
                label="Search"
                outlined
                @keyup="filterJoblist"
              ></v-text-field>
              <v-combobox
                class="col-12 col-md-4 px-2"
                prepend-inner-icon="mdi-map-marker"
                v-model="modelLocation"
                :items="itemsLocation"
                small-chips
                outlined
                dense
                label="Location"
                @change="filterJoblist"
              >
              </v-combobox>
              <v-combobox
                class="col-12 col-md-4 px-2"
                prepend-inner-icon="mdi-briefcase"
                v-model="modelDepartment"
                :items="itemsDepartment"
                small-chips
                outlined
                dense
                label="Department"
                @change="filterJoblist"
              >
              </v-combobox>
              <v-combobox
                class="col-12 col-md-4 px-2"
                prepend-inner-icon="mdi-remote"
                v-model="modelWorkType"
                :items="itemsWorkType"
                small-chips
                outlined
                dense
                label="Work type"
              >
              </v-combobox>
            </v-row>
          </div>
          <div>
            <div
              v-for="(job, index) in listJobs"
              :key="index"
              data-aos="fade-up"
              :data-aos-duration="1500 + index * 10"
              class="py-3"
            >
              <nuxt-link
                :to="{
                  name: 'career-id',
                  params: { id: job.id },
                }"
              >
                <v-row>
                  <v-col cols="3" class="subtitle-1 px-1">
                    {{ job.job_name }}</v-col
                  >
                  <v-col cols="3" class="subtitle-2 px-1">Sales</v-col>
                  <v-col cols="3" class="subtitle-2 px-1">{{
                    job.lokasi
                  }}</v-col>
                  <v-col cols="3" class="subtitle-2 px-1">Fulltime</v-col>
                </v-row>
                <hr class="mt-3" />
              </nuxt-link>
            </div>
          </div>
        </v-container>
      </v-lazy>
    </div>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: 'Career',
      meta: [
        {
          hid: 'Career',
          name: 'Career',
          content: 'Emtrade Career',
        },
      ],
    }
  },

  data: () => ({
    screenWidth: 0,

    listJobs: [],

    itemsLocation: [],
    modelLocation: null,
    itemsDepartment: [],
    modelDepartment: null,
    itemsWorkType: [],
    modelWorkType: null,
    search: '',
  }),

  computed: {
    getJobLists() {
      return this.$store.getters['jobs/getjobs']
    },
  },

  watch: {
    $vssWidth() {
      this.screenWidth = this.$vssWidth
    },

    getJobLists() {
      this.listJobs = this.getJobLists
      if (this.getJobLists) {
        this.getJobLists.find((el, index) => {
          if (index > 0) {
            if (el.lokasi !== this.getJobLists[index - 1].lokasi) {
              this.itemsLocation.push(el.lokasi)
              this.itemsDepartment.push(el.badan_usaha)
            }
          } else {
            this.itemsLocation.push(el.lokasi)
            this.itemsDepartment.push(el.badan_usaha)
          }
        })
      }
    },
  },

  mounted() {
    this.screenWidth = this.$vssWidth

    this.setInitData()
  },

  methods: {
    filterJoblist() {
      // filter search
      let res = this.getJobLists.filter((el) => {
        if (el.job_name.toLowerCase().search(this.search.toLowerCase()) >= 0) {
          return el
        }
      })

      // filter category
      if (this.modelLocation) {
        res = res.filter((el) => {
          return this.modelLocation === el.lokasi
        })
      }
      this.listJobs = res
    },
    setInitData() {
      this.fetchJobs()
    },

    async fetchJobs() {
      const data = {
        params: {},
      }
      await this.$store.dispatch('jobs/fetchjobs', data)
    },
  },
}
</script>

<style lang="scss" scoped>
.job-box {
  width: 230px;
  font-size: 14px;

  a {
    color: $color-font;
  }
}
</style>
