@import 'variables';

html * {
  color: $color-font;
  font-family: Montserrat;
}

html,
body {
  height: 100%;
}

a,
a:hover {
  text-decoration: none !important;
}

a:hover {
  color: $color-secondary !important;
}

.container {
  max-width: 95vw !important;
}

::placeholder {
  /* Edge */
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #acacac;
}
:focus {
  outline: none !important;
}
:-moz-focusring {
  outline: none !important;
}

.bg-white,
.bg-grey {
  width: 100%;
}

.container {
  padding: 50px 7% !important;
}

.bg-grey {
  background: $color-grey !important;
}

.jumbotron {
  padding: {
    bottom: 20px;
  }
  font-weight: 300;
  font-size: 28px;
  line-height: 40px;
}

.testimoni-card {
  margin-top: 50px;
  width: 290px;
  background: #ffffff;
  border-radius: 10px;
  position: relative;
  padding: {
    top: 88px;
    bottom: 10px;
    left: 20px;
    right: 20px;
  }

  .profile-img {
    position: absolute;
    margin: 0 auto;
    top: -60px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.small-span {
  margin-top: 10px !important;
  margin: 0 auto;
  width: 220px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px !important;
  line-height: 15px;
}

.menu-footer {
  font-size: 12px;
}

.card-kominfo {
  padding: {
    top: 10px;
    bottom: 70px;
  }
}

hr {
  margin: 2px 0px;
  border: 0;
  border-top: 1px solid #f4f4f4;
}

.title-content {
  color: $color-secondary;
  font-size: 24px;
}

.paralax-text {
  text-align: center;
  .paralax-title {
    font-style: normal;
    font-weight: normal;
    font-weight: 300;
    font-size: 45px;
    line-height: 40px;
    color: $color-white;
  }
  .paralax-title-2 {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
  }
  .paralax-description {
    margin-top: 40px;
    font-weight: 300;
    font-size: 21px;
    line-height: 30px;
    color: $color-white;
  }

  b {
    font-weight: 500;
  }
}
.v-parallax__image {
  width: 100vh;
  filter: brightness(40%);
}

.hooper {
  height: 100% !important;
}

.hooper-list {
  margin-left: -1.8%;
  width: 101.8% !important;
}

.hooper-indicator {
  width: 30px !important;
  background-color: #e2e2e2 !important;
}

.hooper-indicator.is-active {
  background-color: $color-primary !important;
}

.hooper-pagination {
  bottom: -25px !important;
}

.hooper-slide.is-active.is-current {
  padding: 0px !important;
  opacity: 1;
  filter: blur(0px);
}
.hooper-slide {
  padding: 50px !important;
  opacity: 0.3;
  filter: blur(1px);
}
.slide-prev {
  position: absolute;
  z-index: 2;
  top: 45%;
  left: 32%;
}
.slide-next {
  position: absolute;
  z-index: 2;
  top: 45%;
  right: 32%;
}

.v-pagination__item,
.v-pagination__more {
  height: 34px !important;
  margin: 0 !important;
  box-shadow: none !important;
  border-top: 0.1px solid #13b9af !important;
  border-bottom: 0.1px solid #13b9af !important;
  border-right: 0.1px solid #13b9af !important;
  box-sizing: border-box !important;
  border-radius: 0px !important;
  color: #13b9af !important;
}

.theme--light.v-pagination .v-pagination__item {
  color: #13b9af !important;
}

.v-pagination__navigation {
  &[aria-label='Next page'] {
    border-top: 0.1px solid #13b9af !important;
    border-bottom: 0.1px solid #13b9af !important;
    border-right: 0.1px solid #13b9af !important;
    height: 34px !important;
    margin: 0 !important;
    box-shadow: none !important;
    border-radius: 0px 10px 10px 0px !important;
  }
  &[aria-label='Previous page'] {
    border-top: 0.1px solid #13b9af !important;
    border-bottom: 0.1px solid #13b9af !important;
    border-left: 0.1px solid #13b9af !important;
    border-right: 0.1px solid #13b9af !important;
    height: 34px !important;
    margin: 0 !important;
    box-shadow: none !important;
    border-radius: 10px 0px 0px 10px !important;
  }
}

.v-pagination__navigation .v-icon {
  color: #13b9af !important;
}

.theme--light.v-pagination .v-pagination__item--active {
  background: #13b9af !important;
  color: #fff !important;
  border-top: 0.1px solid #13b9af !important;
  border-bottom: 0.1px solid #13b9af !important;
  border-left: 0.1px solid #13b9af !important;
  border-right: 0.1px solid #13b9af !important;
}

.v-tab {
  // text-transform: none !important;
  color: $color-secondary !important;
  // text-align: center;
}

.v-tabs-slider {
  margin: 0 auto;
  width: 100% !important;
  color: $color-secondary !important;
}

@media screen and (max-width: 812px) {
  html,
  body {
    // overflow-x: hidden;
    font-size: 14px;
    width: 100%;
    height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
  }

  .v-parallax__image-container {
    top: -130px !important;
    img {
      object-fit: cover !important;
    }
  }

  #__layout {
    overflow-x: hidden;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .slide-prev {
    left: 15.5%;
  }
  .slide-next {
    right: 15.5%;
  }

  .hooper-list {
    margin-left: -3%;
    width: 103% !important;
  }

  .hooper-indicator {
    margin-left: -3% !important;
  }
}

@media screen and (min-width: 360px) and (max-width: 640px) {
  .slide-prev {
    top: 30%;
    left: 0% !important;
  }
  .slide-next {
    top: 30%;
    right: 0% !important;
  }

  .hooper-list {
    margin-left: -6.5%;
    width: 106.5% !important;
  }

  .hooper-indicator {
    margin-left: -6.5% !important;
  }

  .hooper-slide {
    padding: 10px !important;
  }
}
