// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$color-font: #575757;
$color-primary: #13b9af;
$color-secondary: #2673ba;
$color-grey: #f4f4f4;
$color-tail: #26cad3;
$color-white: #fff;
