<template>
  <v-app dark>
    <div v-if="!excludeNavigation.includes($nuxt.$route.name)">
      <Navigation />
    </div>
    <!-- <v-main> -->
    <nuxt />

    <div
      data-aos="fade-up"
      data-aos-duration="300"
      data-aos-easing="ease-in-sine"
    >
      <v-lazy
        :options="{
          threshold: 0.5,
        }"
        min-height="200"
        transition="fade-transition"
      >
        <div class="card-kominfo">
          <div class="text-center">
            <v-img
              class="mx-auto"
              width="80"
              :lazy-src="require('~/assets/images/kominfo.png')"
              :src="require('~/assets/images/kominfo.png')"
            ></v-img>
          </div>
          <div class="small-span text-center" v-html="kominfo" />
        </div>
      </v-lazy>
    </div>

    <!-- </v-main> -->

    <div class="footer bg-grey" app v-if="$route.name !== 'login'">
      <div
        class="menu-footer"
        :class="screenWidth < 400 ? 'text-center' : 'text-right'"
      >
        <span class="mx-3" v-for="(fmenu, index) in menusFooter" :key="index"
          ><NuxtLink :to="fmenu.to"> {{ fmenu.title }}</NuxtLink></span
        >
      </div>
      <hr />
      <div>
        <small
          >&copy; {{ new Date().getFullYear() }} CV Trading Profit | PT Emtrade
          Profit Indonesia</small
        >
      </div>
    </div>
  </v-app>
</template>

<script>
const Navigation = () => import('./navigation.vue')

export default {
  components: { Navigation },
  data() {
    return {
      screenWidth: 0,
      menusFooter: [
        { title: 'Home', to: '/' },
        { title: 'Contant Us', to: '/contact' },
      ],

      kominfo:
        'Certified by Ministry of Communications and Informatics of Indonesia <br/>• no. 02372/DJAI.PSE/03/2020 as Electronic Signature Provider <br/>• SK Kemenkominfo No. 789 Tahun 2019 asCerti ed Non-Government Institution Electronic Certificate Provider',

      menusFooter: [
        { title: 'Home', to: '/' },
        { title: 'Career', to: '/career' },
        { title: 'Blog', to: '/blog' },
      ],

      excludeNavigation: ['career-id'],
    }
  },

  watch: {
    $vssWidth() {
      this.screenWidth = this.$vssWidth
    },

    $route() {
      document.body.scrollTop = 0 // For Safari
      document.documentElement.scrollTop = 0 // firefox, chrome
    },
  },

  mounted() {
    this.screenWidth = this.$vssWidth
  },
}
</script>

<style lang="scss" scoped>
.footer {
  padding: {
    top: 8px;
    bottom: 8px;
    left: 50px;
    right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: {
      left: 10px;
      right: 10px;
    }
  }
}
</style>
