<template>
  <div>
    <v-card flat tile class="app-bar d-flex justify-space-between">
      <v-row no-gutters style="height: 100%">
        <v-col align-self="center">
          <v-img
            :max-width="screenWidth > 768 ? 200 : 120"
            :lazy-src="require('~/assets/images/logo.png')"
            :src="require('~/assets/images/logo.png')"
          ></v-img>
        </v-col>
      </v-row>
      <div
        class="menu-section"
        v-if="screenWidth > 500 && $route.name !== 'login'"
      >
        <div class="menu-list d-flex justify-center flex-wrap">
          <div
            v-for="(menu, index) in menus"
            :key="index"
            class="px-3"
            :class="
              menu.active.includes($nuxt.$route.name)
                ? 'menu-item-active'
                : 'menu-item'
            "
          >
            <NuxtLink :to="menu.to"> {{ menu.title }}</NuxtLink>
          </div>
        </div>
      </div>
      <div v-if="$route.name !== 'login'">
        <v-row no-gutters style="height: 100%">
          <v-col align-self="center" v-if="screenWidth < 500">
            <v-app-bar-nav-icon
              @click.stop="drawer = !drawer"
            ></v-app-bar-nav-icon>
          </v-col>
          <v-col align-self="center" v-else>
            <a href="https://member.emtrade.id/login" target="_blank">
              <!-- <nuxt-link :to="{ name: 'login' }"> -->
              <v-btn class="ma-2" small outlined color="primary">
                Member Area
              </v-btn>
              <!-- </nuxt-link> -->
            </a>
          </v-col>
        </v-row>
      </div>
    </v-card>

    <!-- navigation bar -->
    <v-navigation-drawer v-model="drawer" fixed temporary>
      <div class="app-bar d-flex justify-space-between">
        <div>
          <v-img
            :max-width="screenWidth > 768 ? 200 : 120"
            :lazy-src="require('~/assets/images/logo.png')"
            :src="require('~/assets/images/logo.png')"
          ></v-img>
        </div>
        <div>
          <v-row no-gutters>
            <v-col align-self="center">
              <v-icon @click.stop="drawer = !drawer">mdi-close</v-icon>
            </v-col>
          </v-row>
        </div>
      </div>
      <v-list dense>
        <v-list-item-group active-class="teal--text text--darken-2">
          <v-list-item
            v-for="(menu, index) in menus"
            :key="index"
            :to="menu.to"
          >
            <v-list-item-title>
              {{ menu.title }}
            </v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <!-- end nav bar -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      drawer: false,
      screenWidth: 0,
      fixed: false,
      menus: [
        { title: 'Home', to: '/', active: ['index'] },
        { title: 'Blog', to: '/blog', active: ['blog', 'blog-id'] },
        { title: 'Testimonial', to: '/testimonial', active: ['testimonial'] },
        { title: 'About Us', to: '/about', active: ['about'] },
        { title: 'Career', to: '/career', active: ['career', 'career-id'] },
      ],
    }
  },

  watch: {
    $vssWidth() {
      this.screenWidth = this.$vssWidth
    },
  },

  mounted() {
    this.screenWidth = this.$vssWidth
  },
}
</script>

<style lang="scss" scoped>
a {
  text-decoration: none;
  color: $color-font;
}

.app-bar {
  height: 90px;
  padding: {
    top: 8px;
    bottom: 8px;
    left: 50px;
    right: 50px;
  }
  background: #ffffff;
  border-bottom: 1px solid #f4f4f4;
  box-sizing: border-box;
}

.menu-section {
  width: 100%;
  position: relative;
  .menu-list {
    position: absolute;
    max-width: 60%;
    left: 0;
    right: 0;
    bottom: -15px;
    margin: 0 auto;

    .menu-item,
    .menu-item-active {
      margin: 5px;
      height: 55px;

      a {
        font-weight: 400;
        font-size: 14px;
        line-height: 70px;
        color: #575757 !important;
      }
    }
    .menu-item-active {
      color: #13b9af !important;
      border-bottom: 2px solid #13b9af;

      a {
        color: #13b9af !important;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .v-navigation-drawer--fixed {
    width: 100vw !important;
  }

  .app-bar {
    height: 50px;
    padding: {
      top: 8px;
      bottom: 8px;
      left: 30px;
      right: 30px;
    }
  }

  .menu-section {
    width: 100%;
    position: relative;
    .menu-list {
      position: relative;
      max-width: 78%;
      bottom: 10px;

      .menu-item,
      .menu-item-active {
        margin: 1px;
      }
    }
  }
}
</style>
