<template>
  <div>
    <div>
      <v-lazy
        :options="{
          threshold: 0.5,
        }"
        min-height="200"
        transition="fade-transition"
      >
        <div
          data-aos="fade-up"
          data-aos-duration="1000"
          data-aos-anchor-placement="top-bottom"
        >
          <v-parallax
            class="mt-3"
            height="300"
            :src="require('~/assets/images/content.jpg')"
          >
            <v-container>
              <div
                class="paralax-text"
                data-aos="zoom-in-up"
                data-aos-duration="1000"
              >
                <div class="paralax-title">Articles</div>
              </div>
            </v-container>
          </v-parallax>
        </div>
      </v-lazy>
    </div>
    <div>
      <v-lazy
        :options="{
          threshold: 0.5,
        }"
        min-height="200"
        transition="fade-transition"
      >
        <v-container>
          <div
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-anchor-placement="top-bottom"
          >
            <div>
              <div class="d-flex align-center">
                <span @click="$router.go(-1)" style="cursor: pointer"
                  ><v-icon aria-hidden="false" color="blue darken-2 ">
                    mdi-arrow-left
                  </v-icon>
                </span>

                <div class="ml-3">
                  <span class="title-content"
                    >Psikologi Trading "EKSPEKTASI"</span
                  >
                  <br />
                  <small class="grey--text">2020-12-03 16:41:01</small>
                </div>
              </div>
              <p class="mt-4" v-html="article" />
            </div>
            <div class="mt-4 d-flex justify-center">
              <div
                class="mx-1"
                v-for="network in networks"
                :key="network.network"
              >
                <ShareNetwork
                  class="btn-share"
                  :network="network.network"
                  :style="`border: 1px solid ${network.color}`"
                  :url="sharing.url"
                  :title="sharing.title"
                  :description="sharing.description"
                  :quote="sharing.quote"
                  :hashtags="sharing.hashtags"
                  :twitterUser="sharing.twitterUser"
                >
                  <v-icon :style="`color: ${network.color}`">
                    {{ network.icon }}
                  </v-icon>
                  <span :style="`color: ${network.color}`">Share</span>
                </ShareNetwork>
              </div>
            </div>
            <div class="d-flex justify-center my-3">
              <div
                class="btn-share d-flex align-center"
                style="border: 1px solid #ff0084"
              >
                <v-icon style="color: #ff0084"> mdi-instagram </v-icon>
                <span style="color: #ff0084">Follow Us</span>
              </div>
            </div>
            <hr class="my-10" />
          </div>
        </v-container>
      </v-lazy>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    page: 2,
    screenWidth: 0,

    sharing: {
      url: 'https://news.vuejs.org/issues/180',
      title:
        'Say hi to Vite! A brand new, extremely fast development setup for Vue.',
      description:
        'This week, I’d like to introduce you to "Vite", which means "Fast". It’s a brand new development setup created by Evan You.',
      quote: "The hot reload is so fast it's near instant. - Evan You",
      hashtags: 'vuejs,vite,javascript',
      twitterUser: 'youyuxi',
    },

    networks: [
      {
        network: 'facebook',
        name: 'Facebook',
        icon: 'mdi-facebook',
        color: '#1877f2',
      },
      {
        network: 'twitter',
        name: 'Twitter',
        icon: 'mdi-twitter',
        color: '#1da1f2',
      },
      {
        network: 'whatsapp',
        name: 'Whatsapp',
        icon: 'mdi-whatsapp',
        color: '#25d366',
      },
    ],

    article:
      '“Gimana sih caranya supaya bisa konsisten?”Pertanyaan itu terlontar dari salah seorang peserta seminar online beberapa waktu lalu, dengan konteks konsisten dalam tradingdan investasi saham, setelah saya menjawab pertanyaan sebelumnya, bahwa saya di pasar saham sejak 2007.Pada awalnya, saya hampir menjawab praktis,“Ya harus disiplin…”  “Harus suka bidangnya” “Fokus belajar aja”tapi kemudian saya urungkan, karena pasti akan timbul pertanyaan lanjutan,“Gimana caranya disiplin?”“Gimana biar suka investasi / trading saham?”“Aduh… belajar? Saya tak punya waktu.”Akhirnya, setelah berpikir beberapa detik, saya pun jawab dengan.	“Turunkan ekspektasi!”Lho, turunkan ekspektasi? Kenapa? Apa pasar saham nggak potensial dan nggak bisa bikin kaya? Too good to be true kalau inginuntung besar dari pasar saham?Kalem…! Bisa kok berhasil dan jadi kaya di pasar saham. Tapi yah… nggak seperti cerita Han Ji Pyeong di drama Korea Start-Upyang tau-tau bisa juara lomba virtual saham senilai ratusan juta won, lalu tau-tau jadi kaya dari saham. Nggak juga sepertinona Dal Mi, dan Do San cs yang dalam 3 tahun tidak diceritakan prosesnya tau-tau bisa beli Mercedes dan bisa beli apartemendi sebelah Han River menyusul Mr Han.Semua ada proses, semua bisa tercapai asalkan kita berprogress, ada kemajuan dari waktu dan waktu. Konsistensi dan persistensikata kuncinya.Kenapa banyak orang susah konsisten di pasar saham? Jelas. Karena rugi besar. Meskipun sebelumnya ia pernah untung besar, tapiia rugi lebih besar.Kenapa bisa rugi besar? Mungkin karena tidak tahu caranya. Mungkin salah dalam mengelola risiko. Mungkin karena memilih sahamyang tidak likuid. Mungkin juga karena membeli saham dengan nominal terlalu besar.Pertanyaan berlanjut. Kenapa tidak tahu cara, tapi bisa beli saham? Karena ikut-ikutan meski tidak tahu alasan di balikpembelian saham tersebut?Kalau begitu… kenapa bisa beli banyak? Kalau untung senang bukan main, kalau rugi kecewa sekali.Jawabannya berujung pada: karena terlalu tinggi ekspektasi di awal, sehingga terburu-buru ingin mewujudkan ekpektasi menjadikaya, trading for living sehingga nggak perlu capek kerja.Banyak orang membuka rekening, tentunya karena melihat peluang. Entah karena IHSG naik terus, atau karena dia dipamerin cuansaham. Kalau dari cuan saham, nggak usah capek bisa buat beli mobil, beli rumah, aduhai… siapa yang nggak mau sih?Tapi sayangnya, nggak banyak orang yang bercerita tentang realita dan fakta sebenarnya. Atau mungkin kalau diceritain pun yangmendengar seringkali denial. Realita apa? Realita bahwa: di saham kamu juga bisa rugi. Jangan cuma mikir untungnya. Kalau siapuntung, juga harus siap dengan risiko. Lebih tepatnya, siap MENGANTISIPASI risiko kerugian yang mungkin rugi. Oleh karena itulah, di EMTRADE sangat menekankan sekali manajemen risiko.Denial disebabkan karena ekspektasi ketinggian yang:Mengaburkan objektivitas dalam pengambilan keputusanMemaksakan situasi supaya mengikuti apa yang kita mau, padahal kita yang harus ngeflow menyesuaikan strategi dengan kondisipasar.Membuat kita jadi serakahMencari pembenaranyang berujung pada kecewa, stress, galau, marah.Tanpa ekspektasi ketinggian, kita bisa dengan damai memulai berinvestasi / trading saham dengan nominal kecil dan uang dingin.Sekecil hingga kita nggak terlalu senang kalau untung, dan nggak kecewa kalau rugi. Sekecil mungkin sehingga kita nggakmikirin terus saham-saham yang kita miliki sampai kebawa mimpi.Tidak hanya dalam saham. Dalam semua aspek kehidupan, ketinggian ekspektasi membuat kita jadi tegang, stress dan kecewa. Orangtua ketinggian ekspektasi pasti isinya marah-marah mulu, bikin anak stress dan tidak nyaman. Leader ketinggian ekspektasinggak akan pernah happy. Dan banyak lagi…Ekspektasi adalah awal dari sakit hati dan pusing kepala. Itu quotes Shakespeare yang saya modif sedikit.Miliki mimpi besar, sadari bahwa selalu ada proses, dan nikmati proses dengan continuous and never ending improvement.Ekspektasi boleh naik seiring dengan progress yang kita jalani. Dengan demikian, kita tidak hanya semakin dekat dengancita-cita namun juga bahagia.Salam profit,Ellen May',
  }),

  head() {
    return {
      title: 'Blog',
      titleTemplate: null,
      meta: [
        {
          hid: 'Blog',
          name: 'Blog',
          content: 'Blog',
        },
      ],
    }
  },

  watch: {
    $vssWidth() {
      this.screenWidth = this.$vssWidth
    },
  },

  mounted() {
    this.screenWidth = this.$vssWidth
  },
}
</script>

<style lang="scss" scoped>
.btn-share {
  width: auto;
  height: 35px;
  padding: 8px;

  background: #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
}
</style>
