<template>
  <div>
    <div>
      <v-lazy
        :options="{
          threshold: 0.5,
        }"
        min-height="200"
        transition="fade-transition"
      >
        <div data-aos="fade-up" data-aos-duration="1000">
          <v-parallax
            class="mt-3"
            height="300"
            :src="require('~/assets/images/content.jpg')"
          >
            <v-container>
              <div
                class="paralax-text"
                data-aos="zoom-in-up"
                data-aos-duration="1000"
              >
                <div class="paralax-title">Articles</div>
              </div>
            </v-container>
          </v-parallax>
        </div>
      </v-lazy>
    </div>
    <div>
      <v-container>
        <div>
          <div v-for="(content, index) in contents" :key="index">
            <v-lazy
              :options="{
                threshold: 0.5,
              }"
              transition="fade-transition"
            >
              <nuxt-link :to="{ name: 'blog-id', params: { id: content.id } }">
                <div
                  data-aos="fade-right"
                  data-aos-offset="100"
                  data-aos-easing="ease-in-sine"
                  class="d-flex justify-space-between"
                  :class="screenWidth <= 768 ? 'align-center' : ''"
                >
                  <div>
                    <div class="body-2">category</div>
                    <div class="mb-3 title">
                      Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    </div>
                    <div class="post-content">
                      Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                      sed diam nonumy eirmod tempor invidunt
                    </div>
                    <small class="mt-2 grey--text">4 Jan . 1000x dibaca</small>
                  </div>
                  <div class="ml-2">
                    <v-img
                      :width="screenWidth <= 768 ? 120 : 200"
                      src="https://picsum.photos/id/11/100/60"
                      lazy-src="https://picsum.photos/id/11/100/60"
                    >
                      <template v-slot:placeholder>
                        <v-row
                          class="fill-height ma-0"
                          align="center"
                          justify="center"
                        >
                          <v-progress-circular
                            indeterminate
                            color="grey lighten-5"
                          ></v-progress-circular>
                        </v-row>
                      </template>
                    </v-img>
                  </div>
                </div>
                <hr class="my-3" />
              </nuxt-link>
            </v-lazy>
          </div>
          <v-pagination
            data-aos="fade-in"
            data-aos-easing="ease-in-sine"
            v-model="page"
            :length="10"
            :total-visible="7"
          ></v-pagination>
        </div>
      </v-container>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    page: 2,
    screenWidth: 0,
    contents: [
      {
        id: 1,
        image: 'content1.png',
        description: 'Article',
        to: '',
      },
      {
        id: 2,
        image: 'content2.png',
        description: 'Videos',
        to: '',
      },
      {
        id: 3,
        image: 'content3.png',
        description: 'Blogs by Ellen May',
        to: '',
      },
      {
        id: 4,
        image: 'content4.png',
        description: 'Blogs by Ellen May',
        to: '',
      },
    ],
  }),

  head() {
    return {
      title: 'Blog',
      titleTemplate: null,
      meta: [
        {
          hid: 'Blog',
          name: 'Blog',
          content: 'Blog',
        },
      ],
    }
  },

  watch: {
    $vssWidth() {
      this.screenWidth = this.$vssWidth
    },
  },

  mounted() {
    this.screenWidth = this.$vssWidth
  },

  methods: {
    substr(text) {
      if (this.screenWidth < 768) return text.substr(0, 40) + '...'
      else return text
    },
  },
}
</script>
