<template>
  <div>
    <v-container>
      <div
        class="text-center subtitle-1"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        Emtrade Is an EduFinTech application that is developing to become a
        Robo-Advisory platform helping people by giving structured education,
        stock reference, analysis, as well as an answer to every question. What
        differs Emtrade with other platform is that Emtrade answers every
        question in a personal, faster, systematical, and easy to understand.
      </div>
      <v-row>
        <v-col
          cols="12"
          md="4"
          class="py-10 px-5"
          data-aos="fade-up"
          data-aos-duration="1200"
        >
          <div class="d-flex align-center">
            <div>
              <v-avatar color="teal" size="110"></v-avatar>
            </div>
            <div class="ml-5">
              <span class="title">Alpino Kianjaya</span>
              <br />
              <span class="subtitle-2">Commissioner</span>
            </div>
          </div>
          <div class="mt-5 px-2">
            <span
              >Alpino Kianjaya is formerly served as Trading and Membership
              Director at PT Bursa Efek Indonesia / Indonesia Stock Exchange
              (2015-2018), CEO of PT MNC Sekuritas (2013-2015), CEO of PT Indo
              Premier Securities (2002-2012), & COO of PT DBS Securities
              Indonesia (1991-2002), Independent Comissioner of PT MNC
              Securities (2019-current).
              <br />
              <br />

              Alpino Kianjaya was graduated from Universitas Tarumanegara in
              1987 majoring Accountancy. He started his professional career in
              1987-1989 as Chief Accountant di PT Indo Himson Garment Factory,
              Chief Accountant PT Hamadia Raya Semesta (1989 – 1991) before
              continuing his career in the capital market industry.
              <br />
              <br />

              He was a part of Indonesia Stock Exchange Members Dicipline
              Committee (2009 – 2013), Credit Policy and Risk Management
              Committee of PT Kliring Penjaminan Efek Indonesia (2010 – 2015) &
              Haircut Committee of PT Kliring Penjaminan Efek Indonesia (2011 –
              2015).</span
            >
          </div>
        </v-col>
        <v-col
          cols="12"
          md="4"
          class="py-10 px-5"
          data-aos="fade-up"
          data-aos-duration="1400"
        >
          <div class="d-flex align-center">
            <div>
              <v-avatar color="teal" size="110"></v-avatar>
            </div>
            <div class="ml-5">
              <span class="title">Ellen May</span>
              <br />
              <span class="subtitle-2">Founder & CEO</span>
            </div>
          </div>
          <div class="mt-5 px-2">
            <span
              >Ellen May started her journey in the capital market in 2007, and
              facing the turmoil of stock market crash in 2008 which made it her
              turning point in becoming a professional in investing & trading.
              Since then, she has been actively educating people through
              seminars, workshops, and her books.
              <br />
              <br />

              She wrote 3 books for beginners in trading & investing in the
              stock market, and 3 of them are national best selling, namely:
              <li>Smart Traders Not Gamblers</li>
              <li>Smart Traders Not Gamblers</li>
              <li>Smart Traders Not Gamblers</li>
              <br />
              Ellen May was graduated from Bina Nusantara University majoring
              Computer Science. She started to provide online education in
              investing and trading since 2016 and develop an education
              technology platform named “Emtrade” in 2019 to pursue the goal of
              helping more people make money in the stock market in a way that
              is easier and without hassle.
            </span>
          </div>
        </v-col>
        <v-col
          cols="12"
          md="4"
          class="py-10 px-5"
          data-aos="fade-up"
          data-aos-duration="1600"
        >
          <div class="d-flex align-center">
            <div>
              <v-avatar color="teal" size="110"></v-avatar>
            </div>
            <div class="ml-5">
              <span class="title">looking for </span>
              <br />
              <span class="subtitle-2">CTO</span>
            </div>
          </div>
          <div class="mt-5 px-2">
            <span
              >If you have you the qualifications to apply or have any
              references / candidates for the positions, please feel free to
              email us at hr@emtrade.id
            </span>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data: () => ({
    page: 2,
    screenWidth: 0,
  }),

  head() {
    return {
      title: 'Blog',
      titleTemplate: null,
      meta: [
        {
          hid: 'Blog',
          name: 'Blog',
          content: 'Blog',
        },
      ],
    }
  },

  watch: {
    $vssWidth() {
      this.screenWidth = this.$vssWidth
    },
  },

  mounted() {
    this.screenWidth = this.$vssWidth
  },
}
</script>

<style lang="scss" scoped>
.masonry {
  /* Masonry container */
  column-count: 4;
  column-gap: 1em;
}

.item {
  /* Masonry bricks or child elements */
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  padding: 20px;
}

@media screen and (max-width: 480px) {
  .masonry {
    column-count: 1;
  }
}
</style>
