<template>
  <div>
    <!-- banner -->
    <!-- <div :class="screenWidth <= 768 ? '' : 'mt-10'">
      <v-container>
        <div class="d-flex justify-space-between">
          <div data-aos="fade-up" data-aos-duration="1000">
            <div class="jumbotron text-left">Lorem ipsum dolor sit amet</div>
            <div class="text-left">Lorem ipsum dolor sit amet</div>
            <v-form ref="form" v-model="valid" lazy-validation>
              <div class="mt-10">
                <label class="subtitle-2 teal--text text--lighten-2"
                  >Nama</label
                >
                <v-text-field
                  placeholder="Nama"
                  v-model="name"
                  :rules="nameRules"
                  outlined
                  dense
                  color="teal"
                ></v-text-field>
                <label class="subtitle-2 teal--text text--lighten-2"
                  >Email</label
                >
                <v-text-field
                  placeholder="Isikan Alamat Email"
                  outlined
                  v-model="email"
                  :rules="emailRules"
                  dense
                  color="teal"
                ></v-text-field>
                <label class="subtitle-2 teal--text text--lighten-2"
                  >Whatasapp</label
                >
                <v-text-field
                  placeholder="Masukan Nomor Whatsapp"
                  outlined
                  v-model="whatsapp"
                  :rules="whatsappRules"
                  dense
                  color="teal"
                ></v-text-field>
              </div>
              <v-btn @click="subscribe" outlined color="teal">
                Subscribe
              </v-btn>
            </v-form>
          </div>
          <div
            data-aos="zoom-in-left"
            data-aos-duration="1000"
            data-aos-anchor-placement="top-bottom"
          >
            <div class="mockup" :style="screenWidth <= 768 ? 'opacity:0.6' : ''">
              <v-img
                :lazy-src="require('~/assets/images/mockup.png')"
                :src="require('~/assets/images/mockup.png')"
              />
            </div>
          </div>
        </div>
      </v-container>
    </div> -->
    <!-- slider hightlight -->
    <div class="mt-10">
      <!-- <div data-aos="fade-up" data-aos-duration="2000">
        <div class="jumbotron text-center">Highlight</div>
      </div>
      <div style="position: relative">
        <div :class="screenWidth > 768 ? 'container' : ''">
          <div
            data-aos="fade-up-right"
            data-aos-duration="800"
            class="slide-prev"
            @click="slidePrev"
          >
            <v-img
              class="mx-6"
              :lazy-src="require('~/assets/icons/slider-prev.svg')"
              :src="require('~/assets/icons/slider-prev.svg')"
            />
          </div>
          <div
            data-aos="fade-up-left"
            data-aos-duration="800"
            class="slide-next"
            @click="slideNext"
          >
            <v-img
              class="mx-6"
              :lazy-src="require('~/assets/icons/slider-prev.svg')"
              :src="require('~/assets/icons/slider-next.svg')"
            />
          </div>
          <div
            v-if="itemToShow > 0"
            data-aos="fade-up"
            data-aos-duration="1000"
          >
            <Hooper
              ref="carousel"
              :itemsToShow="itemToShow"
              :centerMode="true"
              :infiniteScroll="true"
              :wheelControl="false"
              :mouseDrag="false"
              :touchDrag="false"
            >
              <Slide
                v-for="(elm, index) in elementors"
                :key="index"
                transition="slide-x-transition"
              >
                <v-img
                  :lazy-src="require('~/assets/images/' + elm.image)"
                  :src="require('~/assets/images/' + elm.image)"
                />
              </Slide>
              <hooper-pagination slot="hooper-addons"></hooper-pagination>
            </Hooper>
          </div>
        </div>
      </div> -->

      <v-carousel
        height="420"
        cycle
        hide-delimiters
        hide-delimiter-background
        show-arrows-on-hover
      >
        <v-carousel-item v-for="(slide, i) in slides" :key="i">
          <v-sheet color="transparent" height="100%">
            <v-row class="fill-height" align="center" justify="center">
              <v-img :src="require('assets/images/image-mrwhitehair.png')" />
            </v-row>
          </v-sheet>
        </v-carousel-item>
      </v-carousel>
    </div>

    <!-- posts -->
    <div class="my-5">
      <v-container>
        <div
          class="d-flex justify-space-between"
          :class="screenWidth <= 768 ? 'flex-wrap' : ''"
        >
          <div>
            <div data-aos="fade-up" data-aos-duration="1000">
              <h3>
                Latest Posts
                <hr class="mb-5" />
              </h3>
            </div>

            <div v-for="i in 5" :key="i" class="pb-5">
              <v-lazy
                :options="{
                  threshold: 0.5,
                }"
                transition="fade-transition"
              >
                <div
                  data-aos="fade-right"
                  data-aos-offset="100"
                  data-aos-easing="ease-in-sine"
                  class="d-flex justify-space-between"
                  :class="screenWidth <= 768 ? 'align-center' : ''"
                >
                  <div>
                    <div class="body-2">category</div>
                    <div class="mb-3 title">
                      Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    </div>
                    <div class="post-content">
                      Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                      sed diam nonumy eirmod tempor invidunt
                    </div>
                    <small class="mt-2 grey--text">4 Jan . 1000x dibaca</small>
                  </div>
                  <div class="ml-2">
                    <v-img
                      :width="screenWidth <= 768 ? 120 : 200"
                      src="https://picsum.photos/id/11/100/60"
                      lazy-src="https://picsum.photos/id/11/100/60"
                    >
                      <template v-slot:placeholder>
                        <v-row
                          class="fill-height ma-0"
                          align="center"
                          justify="center"
                        >
                          <v-progress-circular
                            indeterminate
                            color="grey lighten-5"
                          ></v-progress-circular>
                        </v-row>
                      </template>
                    </v-img>
                  </div>
                </div>
              </v-lazy>
            </div>
            <div class="text-center caption grey--text">
              <hr class="mb-3" />
              View More Article
              <hr class="mt-3" />
            </div>
          </div>
          <div class="sticky sidebar">
            <div data-aos="fade-up" data-aos-duration="1000">
              <h3>
                Latest Jobs
                <hr class="mb-5" />
              </h3>
            </div>
            <div v-for="i in 8" :key="i" class="pb-3">
              <v-lazy
                :options="{
                  threshold: 0.5,
                }"
                transition="fade-transition"
              >
                <div
                  data-aos="fade-right"
                  data-aos-offset="100"
                  data-aos-easing="ease-in-sine"
                  class="d-flex justify-space-between"
                  :class="screenWidth <= 768 ? 'align-center' : ''"
                >
                  <div class="d-flex justify-content-between">
                    <div class="pr-3 title font-weight-bold">AD</div>
                    <div>
                      <div class="subtitle-2 pr-3">Android Developer</div>
                      <div class="caption teal--text text--lighten-2">
                        4k-10k . Solo
                      </div>
                    </div>
                    <v-btn x-small outlined color="grey">featured</v-btn>
                  </div>
                </div>
              </v-lazy>
            </div>
            <div class="text-center caption grey--text">
              <hr class="mb-3" />
              View More Jobs
              <hr class="mt-3" />
            </div>
          </div>
        </div>
      </v-container>
    </div>
  </div>
</template>

<script>
import {
  Hooper,
  Slide,
  Navigation as HooperNavigation,
  Pagination as HooperPagination,
} from 'hooper'

export default {
  scrollToTop: true,
  components: {
    Hooper,
    Slide,
    HooperNavigation,
    HooperPagination,
  },

  data: () => ({
    screenWidth: 0,

    itemToShow: 0,

    valid: false,
    name: '',
    nameRules: [(v) => !!v || 'Name is required'],
    email: '',
    emailRules: [
      (v) => !!v || 'Email is required',
      (v) => /.+@.+/.test(v) || 'Invalid Email address',
    ],
    whatsapp: '',
    whatsappRules: [
      (v) => !!v || 'Whatsapp number is required',
      (v) => /^[0-9]{9,13}$/.test(v) || 'whatsapp number , (9-13 character)',
    ],

    elementors: [
      {
        image: 'card1.png',
        description:
          'Mau buka rekening saham pertama?ikuti program <b>INVESTART</b>.Anda akan mendapatkan edukasi saham dan dibantu untuk membuka rekening saham pertama Anda!',
        to: '',
      },
      {
        image: 'card2.png',
        description:
          'Ingin tahu strategi saham terbaru? <br/>pelajari di<br/> <b>Seminar Online Saham 2021</b>',
        to: '',
      },
      {
        image: 'card3.png',
        description:
          'Ingin dibimbing setiap hari dan bisa tanya saham?<br/> <b>Bonus Gratis Referensi Saham</b> Daftar sebagai user <b>EMTRADE</b>',
        to: '',
      },
    ],

    colors: [
      'indigo',
      'warning',
      'pink darken-2',
      'red lighten-1',
      'deep-purple accent-4',
    ],
    slides: ['First', 'Second', 'Third', 'Fourth', 'Fifth'],
  }),

  head() {
    return {
      title: 'Emtrade',
      titleTemplate: null,
      meta: [
        {
          hid: 'Emtrade',
          name: 'Emtrade',
          content: 'Emtrade',
        },
      ],
    }
  },

  watch: {
    $vssWidth() {
      this.screenWidth = this.$vssWidth
    },

    $route() {
      document.body.scrollTop = 0 // For Safari
      document.documentElement.scrollTop = 0 // firefox, chrome
    },
  },

  mounted() {
    this.screenWidth = this.$vssWidth
    this.itemToShow = this.screenWidth > 768 ? 3 : 2
    this.setInitData()
  },

  methods: {
    setInitData() {
      this.fetchArticles()
    },
    async fetchArticles() {
      const data = {
        params: {},
      }
      await this.$store.dispatch('articles/fetcharticles', data)
    },
    slidePrev() {
      this.$refs.carousel.slidePrev()
    },
    slideNext() {
      this.$refs.carousel.slideNext()
    },

    subscribe() {
      this.$refs.form.validate()
      this.submit()
    },

    submit() {
      const data = {
        body: {
          name: this.name,
          email: this.email,
          phone: this.whatsapp,
        },
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.post-category {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.post-title {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.02em;
}

.post-content {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
}

.mockup {
  position: relative;
}

.main {
  width: 60%;
  height: 150vh;
}

.sidebar {
  padding-left: 5%;
  width: 45%;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media (min-width: 320px) and (max-width: 480px) {
  .mockup {
    top: 100px;
    position: absolute;
    right: -250px;
    width: 400px;
    opacity: 0.2;
  }

  .sidebar {
    margin-top: 10%;
    padding-left: 0%;
    width: 100%;
  }

  .sticky {
    position: relative;
  }
}
@media (min-width: 600px) and (max-width: 1025px) {
  .mockup {
    width: 400px;
  }
}
</style>
