<template>
  <div class="bg-login">
    <v-container>
      <v-row justify="center">
        <v-col cols="5" class="ml-md-auto mr-3">
          <v-card class="card-login text-center">
            <h2>Login</h2>
            <v-card-text>
              <v-text-field
                label="Username"
                outlined
                clearable
                dense
              ></v-text-field>
              <v-text-field
                label="Password"
                outlined
                clearable
                dense
              ></v-text-field>
              <v-card-actions>
                <v-btn color="amber lighten-1" block depressed dark
                  >Submit</v-btn
                >
              </v-card-actions>
              <small>Forget Password?</small>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>
.bg-login {
  background: url('~assets/images/bg.png');
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-circle {
  width: 50%;
  background: blue;
  height: 85vh;
  opacity: 0.4;
  border-radius: 0px 200px 200px 0px;
}

.card-login {
  margin-top: 7vh;
  height: auto;
  padding: 40px 20px;
  border-radius: 15px;
}
</style>
