<template>
  <div>
    <div>
      <v-lazy
        :options="{
          threshold: 0.5,
        }"
        min-height="200"
        transition="fade-transition"
      >
        <v-parallax
          class="mt-3"
          :height="screenWidth < 400 ? '800' : '600'"
          :src="require('~/assets/images/store1.jpg')"
        >
          <v-container>
            <div>
              <v-img
                class="mx-auto"
                :width="screenWidth < 400 ? '200' : '500'"
                :lazy-src="require('~/assets/images/logo-emtrade-white.png')"
                :src="require('~/assets/images/logo-emtrade-white.png')"
              ></v-img>
            </div>
            <div class="paralax-text">
              <div class="paralax-title-2 mt-10 teal--text text--lighten-2">
                Now everyone can trade!
              </div>
              <div class="paralax-description">
                EMTrade adalah aplikasi yang memberimu solusi untuk lebih untung
                dan meminimalisir risiko dalam jual beli saham.
                <br />
                <br />
                <b class="white--text"
                  >EMtrade memberi edukasi saham online secara intensif</b
                >
                dengan bonus GRATIS referensi saham baik untuk beli jual saham
                yang berkinerja positif sejak 2016.
                <br />
                <br />
                <b class="white--text">Konsultasi • Edukasi • Real Trading</b>
              </div>
              <div class="mt-10">
                <v-btn outlined color="white"> Daftar </v-btn>
              </div>
            </div>
          </v-container>
        </v-parallax>
      </v-lazy>
    </div>
    <div>
      <v-lazy
        :options="{
          threshold: 0.5,
        }"
        min-height="200"
        transition="fade-transition"
      >
        <v-container>
          <div>
            <v-img
              class="mx-auto"
              width="175"
              height="181"
              :lazy-src="require('~/assets/images/member1.png')"
              :src="require('~/assets/images/member1.png')"
            ></v-img>
          </div>
          <div class="my-3">
            <div class="name-text">Ubai</div>
            <div class="sub-text grey--text">Member Emtrade</div>
          </div>
          <hr />
          <div class="my-3">
            <p class="text-center">
              "Sejak saya menjadi user EMtrade, saya merasa lebih terarah, serta
              bisa menghasilkan profit berkali-kali lipat dari sebelumnya,
              EMtrade seperti kompas, saya bisa tahu arah. Keuntungan sy
              meningkat +/-45% rata2 di atas 50%. Salam profit!"
            </p>
          </div>
        </v-container>
      </v-lazy>
    </div>
    <div>
      <v-lazy
        :options="{
          threshold: 0.5,
        }"
        min-height="200"
        transition="fade-transition"
      >
        <v-parallax
          class="mt-3"
          :height="screenWidth < 400 ? '800' : '500'"
          :src="require('~/assets/images/store1.jpg')"
        >
          <v-container>
            <div class="paralax-text">
              <div class="paralax-title mt-10">Seminar Online 2021</div>
              <div class="paralax-description">
                Melalui seminar online ini Anda akan dapatkan info tentang
                bagaimana berinvestasi saham ketika pasar saham sedang diskon
                besar, beli saham apa, di harga berapa, dan berapa banyak boleh
                masuk.
                <br />
                <br />
                by Ellen May • bonus <b class="white--text">GRATIS</b> Ebook
                ter-Update • gratis sertifikat keikutsertaan
              </div>
              <div class="mt-10">
                <v-btn outlined color="white"> Daftar </v-btn>
              </div>
            </div>
          </v-container>
        </v-parallax>
      </v-lazy>
    </div>
    <div>
      <v-lazy
        :options="{
          threshold: 0.5,
        }"
        min-height="200"
        transition="fade-transition"
      >
        <v-container>
          <div>
            <v-img
              class="mx-auto"
              width="175"
              height="181"
              :lazy-src="require('~/assets/images/member2.png')"
              :src="require('~/assets/images/member2.png')"
            ></v-img>
          </div>
          <div class="my-3">
            <div class="name-text">Robert Aditya</div>
            <div class="sub-text grey--text">Member Emtrade</div>
          </div>
          <hr />
          <div class="my-3">
            <p class="text-center">
              "Saya Robert Aditya, melalui seminar Diskonvaganza setiap Sabtu
              saya termotivasi untuk menatap peluang ditengah market yang tidak
              pasti. Update market dan arahan Miss Ellen dan EM Trade team dalam
              setiap trading terutama swing dalam jangka pendek ini telah
              terbukti menghasilkan profit untuk saya sebesar 22% untuk saham
              ASII. Ini adalah achievement luar biasa sebagai trader junior.
              Juga untuk berapa saham seperti ELSA, INAF, dan KAEF telah memberi
              profit 3-6%. Terima kasih atas support dan motivasi dari Miss
              Ellen dalam mengedukasi masyarakat dan juga EM Trade team yang
              mengarahkan kita dalam melakukan trading. Semoga badai ini segera
              berlalu, pasar kembali bergairah dan perekonomian kembali pulih."
            </p>
          </div>
        </v-container>
      </v-lazy>
    </div>
    <div>
      <v-lazy
        :options="{
          threshold: 0.5,
        }"
        min-height="200"
        transition="fade-transition"
      >
        <v-parallax
          class="mt-3"
          :height="screenWidth < 400 ? '1000' : '700'"
          :src="require('~/assets/images/store3.jpg')"
        >
          <v-container>
            <div class="paralax-text">
              <div class="paralax-title-2 mt-10 white--text">
                Baru mulai investasi saham? Ingin buka rekening saham pertama?
                Ingin tau dasar mekanisme pasar saham?
              </div>
              <div class="paralax-title-2 mt-10 white--text">Ikuti Program</div>
              <div class="paralax-title mt-10">
                <b class="orange--text text--accent-1">INVESTART</b>
              </div>
              <div class="paralax-description">
                <b class="orange--text text--accent-1">INVESTART</b> adalah
                kelas edukasi saham untuk pemula,<br />yang baru mau buka
                rekening saham pertamanya.
                <br />
                <br />

                Anda akan mendapatkan edukasi saham dan<br />dibantu untuk
                membuka rekening saham pertama Anda!
              </div>
              <div class="mt-10">
                <v-btn outlined color="white"> Daftar </v-btn>
              </div>
            </div>
          </v-container>
        </v-parallax>
      </v-lazy>
    </div>
    <div>
      <v-lazy
        :options="{
          threshold: 0.5,
        }"
        min-height="200"
        transition="fade-transition"
      >
        <v-container>
          <div>
            <v-img
              class="mx-auto"
              width="175"
              height="181"
              :lazy-src="require('~/assets/images/member3.png')"
              :src="require('~/assets/images/member3.png')"
            ></v-img>
          </div>
          <div class="my-3">
            <div class="name-text">Rusli</div>
            <div class="sub-text grey--text">Alumni Super Trader Workshop</div>
          </div>
          <hr />
          <div class="my-3">
            <p class="text-center">
              "Sebelum ikut workshop Super Performance Trader, awalnya tidak
              tahu apa-apa sampai dibuat paham tentang saham oleh Ellen May.
              Setelah Super Trader Workshop, saya bisa profit 21 % dalam 2 bulan
              buat liburan. Terima kasih Ms Ellen dan team. Saya pernah rugi
              juga, karena tidak ada bisnis yang tidak rugi. Yang penting
              kerugian dibatasi. Pokoke untungnyaa puas puas puas dan puasssss.
              "
            </p>
          </div>
        </v-container>
      </v-lazy>
    </div>
    <div>
      <v-lazy
        :options="{
          threshold: 0.5,
        }"
        min-height="200"
        transition="fade-transition"
      >
        <v-parallax
          class="mt-3"
          :height="screenWidth < 400 ? '800' : '500'"
          :src="require('~/assets/images/store4.jpg')"
        >
          <v-container>
            <div class="paralax-text">
              <div class="paralax-title mt-10">Workshop Super Trader</div>
              <div class="paralax-description">
                Super Trader™ EXPRESS workshop merupakan pelatihan eksklusif 2
                hari yang diajarkan langsung oleh Ellen May dan berisi
                strategi-strategi practical untuk dapatkan keuntungan hingga 3
                digit di pasar saham.
                <br />
                <br />
                • Cara mencari saham super • meminimalisir risiko •
                mengendalikan rasa takut dan serakah • studi kasus nyata •
                gratis ikut lagi • dibimbing setelah pelatihan dengan EMTrade
              </div>
              <div class="mt-10">
                <v-btn outlined color="white"> Daftar </v-btn>
              </div>
            </div>
          </v-container>
        </v-parallax>
      </v-lazy>
    </div>
    <div>
      <v-lazy
        :options="{
          threshold: 0.5,
        }"
        min-height="200"
        transition="fade-transition"
      >
        <v-container>
          <div>
            <v-img
              class="mx-auto"
              width="175"
              height="181"
              :lazy-src="require('~/assets/images/member4.png')"
              :src="require('~/assets/images/member4.png')"
            ></v-img>
          </div>
          <div class="my-3">
            <div class="name-text">Andika</div>
            <div class="sub-text grey--text">Alumni Super Trader Workshop</div>
          </div>
          <hr />
          <div class="my-3">
            <p class="text-center">
              "Saat saya ikut Super Trader Workshop sempat pesimis, apa bisa
              profit via trading. Tapi sekarang saya sudah membuktikan sendiri
              bisa profit puluhan, bahkan ratusan persen, 137 % hanya dalam 3
              minggu. Terima kasih sekali bu Ellen, untuk ilmu yang ibu share ke
              kami. Saya jadi bisa mendapat mentor yg keren but simple."
            </p>
          </div>
        </v-container>
      </v-lazy>
    </div>
    <div>
      <v-lazy
        :options="{
          threshold: 0.5,
        }"
        min-height="200"
        transition="fade-transition"
      >
        <v-parallax
          class="mt-3"
          :height="screenWidth < 400 ? '1000' : '700'"
          :src="require('~/assets/images/store5.png')"
        >
          <v-container>
            <div class="paralax-text">
              <div class="paralax-title mt-10">
                Online Class Trading dan Investasi Saham
              </div>
              <div class="paralax-description">
                <span class="teal--text text--lighten-2"
                  >Mau belajar saham di mana saja dan kapan saja?<br />
                  Bisa diulang sesuka-suka Anda!</span
                >
                <br />
                <br />
                Merupakan layanan edukasi online, berupa video, oleh Ellen May,
                yang bisa Anda tonton berulang-ulang kapan pun di manapun,
                dengan praktis dan fun, sangat cocok untuk pemula
                <br />
                <br />
                • dasar trading dan investasi saham • dasar analisis teknikal •
                trading for living
              </div>
              <div class="mt-10">
                <v-btn outlined color="white"> Daftar </v-btn>
              </div>
            </div>
          </v-container>
        </v-parallax>
      </v-lazy>
    </div>
    <div>
      <v-lazy
        :options="{
          threshold: 0.5,
        }"
        min-height="200"
        transition="fade-transition"
      >
        <v-container>
          <div>
            <v-img
              class="mx-auto"
              width="175"
              height="181"
              :lazy-src="require('~/assets/images/member5.png')"
              :src="require('~/assets/images/member5.png')"
            ></v-img>
          </div>
          <div class="my-3">
            <div class="name-text">Krisna Johan</div>
            <div class="sub-text grey--text">Alumni Super Trader Workshop</div>
          </div>
          <hr />
          <div class="my-3">
            <p class="text-center">
              "Setelah ikut Workshop Super Performance Trader dari Ellen May
              Institute, saya bisa profit 400 % dalam 2 tahun sehingga saya bisa
              liburan melihat salju. Salam profit, terima kasih Ms Ellen May
              bersama team Ellen May Institute yang sangat oke punya."
            </p>
          </div>
        </v-container>
      </v-lazy>
    </div>
    <div>
      <v-lazy
        :options="{
          threshold: 0.5,
        }"
        min-height="200"
        transition="fade-transition"
      >
        <v-parallax
          class="mt-3"
          :height="screenWidth < 400 ? '1000' : '600'"
          :src="require('~/assets/images/store1.jpg')"
        >
          <v-container>
            <div class="paralax-text">
              <div class="paralax-title mt-10">Seminar Online Super Trader</div>
              <div class="paralax-description">
                <span class="teal--text text--lighten-2"
                  >3 langkah mulai trading saham<br />
                  agar keuntungan optimal & risiko terkendal</span
                >
                <br />
                <br />
                Dengan belajar bersama Seminar Online Super Trader ini Anda bisa
                tahu tentang strategi beli jual saham, memilih saham yang profit
                optimal, dan juga cara meminimalisir risiko dalam beli jual
                saham bersama Ellen May @pakarsaham secara langsung
                <br />
                <br />
                • by Ellen May • bonus GRATIS Ebook Super Trader • gratis
                sertifikat keikutsertaan
              </div>
              <div class="mt-10">
                <v-btn outlined color="white"> Daftar </v-btn>
              </div>
            </div>
          </v-container>
        </v-parallax>
      </v-lazy>
    </div>
    <div>
      <v-lazy
        :options="{
          threshold: 0.5,
        }"
        min-height="200"
        transition="fade-transition"
      >
        <v-container>
          <div>
            <v-img
              class="mx-auto"
              width="175"
              height="181"
              :lazy-src="require('~/assets/images/member6.png')"
              :src="require('~/assets/images/member6.png')"
            ></v-img>
          </div>
          <div class="my-3">
            <div class="name-text">Tugar - Yogyakarta</div>
            <div class="sub-text grey--text">Alumni Super Trader Workshop</div>
          </div>
          <hr />
          <div class="my-3">
            <p class="text-center">
              "Setelah ikut Super Trader Workshop saya bisa profit 100 % dalam 3
              bulan dari saham DOID. Terima kasih Ms Ellen dan team."
            </p>
          </div>
        </v-container>
      </v-lazy>
    </div>
    <div>
      <v-lazy
        :options="{
          threshold: 0.5,
        }"
        min-height="200"
        transition="fade-transition"
      >
        <v-parallax
          class="mt-3"
          :height="screenWidth < 400 ? '900' : '500'"
          :src="require('~/assets/images/store7.jpg')"
        >
          <v-container>
            <div class="paralax-text">
              <div class="paralax-title mt-10">Buku Karya Ellen May</div>
              <div class="paralax-description">
                <span class="teal--text text--lighten-2"
                  >Pelajari investasi dan trading saham dari 3 buku National
                  Best Selling karya Ellen May</span
                >
              </div>
              <div class="mt-10">
                <ol class="text-left">
                  <li class="white--text">
                    Smart Traders Not Gamblers adalah buku tentang swing trading
                    & psikologi trading, cocok untuk trader saham dan forex.
                  </li>
                  <li class="white--text">
                    Smart Trader Rich Investor adalah buku pengenalan investasi
                    saham, cocok untuk pemula yang ingin belajar mengenal
                    investasi saham dan reksadana.
                  </li>
                  <li class="white--text">
                    Nabung Saham Sekarang adalah buku panduan untuk nabung
                    saham, lengkap dengan saham rekomendasi saham dan cara beli
                    jual.
                  </li>
                </ol>
              </div>
              <div class="mt-10">
                <v-btn outlined color="white"> Daftar </v-btn>
              </div>
            </div>
          </v-container>
        </v-parallax>
      </v-lazy>
    </div>
    <div>
      <v-lazy
        :options="{
          threshold: 0.5,
        }"
        min-height="200"
        transition="fade-transition"
      >
        <v-container>
          <div>
            <v-img
              class="mx-auto"
              width="175"
              height="181"
              :lazy-src="require('~/assets/images/member7.png')"
              :src="require('~/assets/images/member7.png')"
            ></v-img>
          </div>
          <div class="my-3">
            <div class="name-text">Evi Krismawati</div>
            <div class="sub-text grey--text">Member EMtrade</div>
          </div>
          <hr />
          <div class="my-3">
            <p class="text-center">
              "Haloo, sy baru gabung ikut member EMTrade.. Kmrn mengikuti saran
              swing Trading Dr EMTrade.. Minggu lalu baru 2x jualan saham Elsa,
              Beli 205 jual 214, untung 4% WSKT, beli 625 jual 700 untung 12%
              Dari program morning briefing, seminar online, buku2 Miss Ellen
              banyak membantu sy yg newbie utk transaksi saham.. Tetap semangat
              Miss Ellen dan Tim, salam profit!!"
            </p>
          </div>
        </v-container>
      </v-lazy>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    screenWidth: 0,
    contents: [
      {
        image: 'content1.png',
        description: 'Article',
        to: '',
      },
      {
        image: 'content2.png',
        description: 'Videos',
        to: '',
      },
      {
        image: 'content3.png',
        description: 'Blogs by Ellen May',
        to: '',
      },
      {
        image: 'content4.png',
        description: 'Blogs by Ellen May',
        to: '',
      },
    ],
  }),

  watch: {
    $vssWidth() {
      this.screenWidth = this.$vssWidth
    },
  },

  mounted() {
    this.screenWidth = this.$vssWidth
  },
}
</script>

<style lang="scss" scoped>
.name-text {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
}
.sub-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}
</style>
