<template>
  <div>
    <div>
      <v-lazy
        :options="{
          threshold: 0.5,
        }"
        min-height="400"
        transition="fade-transition"
      >
        <div data-aos="fade-up" data-aos-duration="1000">
          <v-parallax
            class="mt-3"
            height="400"
            :src="require('~/assets/images/content.jpg')"
          >
            <v-container>
              <div
                class="paralax-text"
                data-aos="zoom-in-up"
                data-aos-duration="1000"
              >
                <div class="paralax-title">Testimonial</div>
              </div>
            </v-container>
          </v-parallax>
        </div>
      </v-lazy>
    </div>
    <div>
      <v-container>
        <div class="masonry">
          <div class="item" data-aos="fade-up" data-aos-duration="1500">
            Suka dengan aplikasi EMTrade. Gampang dipakenya, search langsung
            keluar saham yg diinginkan. Semoga semakin maju terus EMTrade.
            Terima kasih bimbingannya. Buat kita yang ada kerjaan lain ga perlu
            lagi analisis sendiri udah kebantu dengan adanya EMTrade ❤️ EMTrade
            top 👍 -Mar 3, 2021 Suka dengan aplikasi EMTrade. Gampang dipakenya,
            search langsung keluar saham yg diinginkan. Semoga semakin maju
            terus EMTrade. Terima kasih bimbingannya.
            <hr class="my-2" />
            <div class="d-flex align-center">
              <v-avatar color="teal" size="40"></v-avatar
              ><span class="title ml-2">Lisa</span>
            </div>
          </div>
          <div class="item" data-aos="fade-up" data-aos-duration="1500">
            Suka dengan aplikasi EMTrade. Gampang dipakenya, search langsung
            keluar saham yg diinginkan. Semoga semakin maju terus EMTrade.
            Terima kasih bimbingannya. Buat kita yang ada kerjaan lain ga perlu
            lagi analisis sendiri udah kebantu dengan adanya EMTrade ❤️ EMTrade
            top 👍 -Mar 3, 2021
            <hr class="my-2" />
            <div class="d-flex align-center">
              <v-avatar color="teal" size="40"></v-avatar
              ><span class="title ml-2">Lisa</span>
            </div>
          </div>
          <div class="item" data-aos="fade-up" data-aos-duration="1500">
            Suka dengan aplikasi EMTrade. Gampang dipakenya, search langsung
            keluar saham yg diinginkan. Semoga semakin maju terus EMTrade.
            Terima kasih bimbingannya. Buat kita yang ada kerjaan lain ga perlu
            lagi analisis sendiri udah kebantu dengan adanya EMTrade ❤️ EMTrade
            top 👍 -Mar 3, 2021 Suka dengan aplikasi EMTrade. Gampang dipakenya,
            search langsung keluar saham yg diinginkan. Semoga semakin maju
            terus EMTrade.
            <hr class="my-2" />
            <div class="d-flex align-center">
              <v-avatar color="teal" size="40"></v-avatar
              ><span class="title ml-2">Lisa</span>
            </div>
          </div>
          <div class="item" data-aos="fade-up" data-aos-duration="1500">
            Suka dengan aplikasi EMTrade. Gampang dipakenya, search langsung
            keluar saham yg diinginkan. Semoga semakin maju terus EMTrade.
            Terima kasih bimbingannya. Buat kita yang ada kerjaan lain ga perlu
            lagi analisis sendiri udah kebantu dengan adanya EMTrade ❤️ EMTrade
            top 👍 -Mar 3, 2021 Suka dengan aplikasi EMTrade. Gampang dipakenya,
            search langsung keluar saham yg diinginkan. Semoga semakin maju
            terus EMTrade. Terima kasih bimbingannya.
            <hr class="my-2" />
            <div class="d-flex align-center">
              <v-avatar color="teal" size="40"></v-avatar
              ><span class="title ml-2">Lisa</span>
            </div>
          </div>
          <div class="item" data-aos="fade-up" data-aos-duration="1500">
            Suka dengan aplikasi EMTrade. Gampang dipakenya, search langsung
            keluar saham yg diinginkan. Semoga semakin maju terus EMTrade.
            Terima kasih bimbingannya. Buat kita yang ada kerjaan lain ga perlu
            lagi analisis sendiri udah kebantu dengan adanya EMTrade ❤️ EMTrade
            top 👍 -Mar 3, 2021
            <hr class="my-2" />
            <div class="d-flex align-center">
              <v-avatar color="teal" size="40"></v-avatar
              ><span class="title ml-2">Lisa</span>
            </div>
          </div>
          <div class="item" data-aos="fade-up" data-aos-duration="1500">
            Suka dengan aplikasi EMTrade. Gampang dipakenya, search langsung
            keluar saham yg diinginkan. Semoga semakin maju terus EMTrade.
            Terima kasih bimbingannya. Buat kita yang ada kerjaan lain ga perlu
            lagi analisis sendiri udah kebantu dengan adanya EMTrade ❤️ EMTrade
            top 👍 -Mar 3, 2021
            <hr class="my-2" />
            <div class="d-flex align-center">
              <v-avatar color="teal" size="40"></v-avatar
              ><span class="title ml-2">Lisa</span>
            </div>
          </div>
          <div class="item" data-aos="fade-up" data-aos-duration="1500">
            Suka dengan aplikasi EMTrade. Gampang dipakenya, search langsung
            keluar saham yg diinginkan. Semoga semakin maju terus EMTrade.
            Terima kasih bimbingannya. Buat kita yang ada kerjaan lain ga perlu
            lagi analisis sendiri udah kebantu dengan adanya EMTrade ❤️ EMTrade
            top 👍 -Mar 3, 2021 Suka dengan aplikasi EMTrade. Gampang dipakenya,
            search langsung keluar saham yg diinginkan. Semoga semakin maju
            terus EMTrade. Terima kasih bimbingannya. Buat kita yang ada kerjaan
            lain ga perlu lagi analisis sendiri udah kebantu dengan adanya
            EMTrade ❤️ EMTrade top 👍 -Mar 3, 2021
            <hr class="my-2" />
            <div class="d-flex align-center">
              <v-avatar color="teal" size="40"></v-avatar
              ><span class="title ml-2">Lisa</span>
            </div>
          </div>
          <div class="item" data-aos="fade-up" data-aos-duration="1500">
            Suka dengan aplikasi EMTrade. Gampang dipakenya, search langsung
            keluar saham yg diinginkan. Semoga semakin maju terus EMTrade.
            Terima kasih bimbingannya. Buat kita yang ada kerjaan lain ga perlu
            lagi analisis sendiri udah kebantu dengan adanya EMTrade ❤️ EMTrade
            top 👍 -Mar 3, 2021
            <hr class="my-2" />
            <div class="d-flex align-center">
              <v-avatar color="teal" size="40"></v-avatar
              ><span class="title ml-2">Lisa</span>
            </div>
          </div>
        </div>
      </v-container>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    page: 2,
    screenWidth: 0,
  }),

  head() {
    return {
      title: 'Blog',
      titleTemplate: null,
      meta: [
        {
          hid: 'Blog',
          name: 'Blog',
          content: 'Blog',
        },
      ],
    }
  },

  watch: {
    $vssWidth() {
      this.screenWidth = this.$vssWidth
    },
  },

  mounted() {
    this.screenWidth = this.$vssWidth
  },
}
</script>

<style lang="scss" scoped>
.masonry {
  /* Masonry container */
  column-count: 3;
  column-gap: 1em;
}

.item {
  /* Masonry bricks or child elements */
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  padding: 20px;
}

@media screen and (max-width: 480px) {
  .masonry {
    column-count: 1;
  }
}
</style>
